h1 {
    margin: 0 auto;
    width: fit-content;
}

a {
    text-decoration: none;
    color: blue;
&:hover{
    text-decoration: underline;
}
}

.vulnerability-list-box {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}